
<table class="center" border="1px">
    <tr >
        <td colspan="2">
            <h1 style="text-align: center;">
                
                
                    <img width="250px" height="100px" src="../../assets/images/login.jpg" class="rounded" alt="...">
                 
            </h1>
           
        </td>
    </tr>
    <tr>
        <th style="color: red;">
            Username
        </th>
        <td><input type="text" name="" id=""></td>
    </tr>
    <tr>
        <th style="color: red">Password</th>
        <td><input type="password" name="" id=""></td>
    </tr>
</table>

 <h1 class="bg-primary">Welcome to bootstrap</h1> 


  <img width="200px" height="150px" src="../../assets/images/demo.png" class="rounded mx-auto d-block" alt="...">