<p> Login! </p>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter the Username</label>
        <input type="text" class="form-control" id="value"
            aria-describedby="emailHelp" placeholder="Enter the username">
            <label for="exampleInputEmail1">Enter the password</label>
        <input type="password" class="form-control" id="value"
            aria-describedby="emailHelp" placeholder="Enter the password">
    </div>
    
    <input type="button" class="btn btn-primary" id="submit" value="Submit">
</form>